<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ionictabs926982" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>ionic-tabs</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

<!--
  <gap:plugin source="npm" name="cordova-plugin-file" version="2.1.0" />
  <gap:plugin source="npm" name="cordova-plugin-file-transfer" version="1.2.0" />

  <gap:plugin source="npm" name="cordova-plugin-camera" version="1.2.0" />
  <gap:plugin source="npm" name="cordova-plugin-console" version="1.0.1" />
  <gap:plugin source="npm" name="cordova-plugin-device" version="1.0.1" />
  <gap:plugin source="npm" name="cordova-plugin-dialogs" version="1.1.1" />
  <gap:plugin source="npm" name="cordova-plugin-inappbrowser" version="1.0.1" />
  <gap:plugin source="npm" name="cordova-plugin-media" version="1.0.1" />
  <gap:plugin source="npm" name="cordova-plugin-splashscreen" version="2.1.0" />
  <gap:plugin source="npm" name="cordova-plugin-statusbar" version="1.0.1" />

  <gap:plugin source="npm" name="ionic-plugin-keyboard" version="1.0.5" />


  <gap:plugin name="com.adobe.plugins.gaplugin"/>
  <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8"/>
  <gap:plugin name="uk.co.whiteoctober.cordova.appversion" version="0.1.4"/>
  <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1">
    <param name="android-package" value="com.plugin.gcm.PushPlugin"/>
  </gap:plugin>
-->


  <gap:plugin name="cordova-plugin-file" version="2.1.0" source="npm"/>
  <gap:plugin name="cordova-plugin-file-transfer" version="1.2.0" source="npm"/>
  <gap:plugin name="cordova-plugin-camera" version="1.2.0" source="npm"/>
  <gap:plugin source="npm" name="cordova-plugin-console" version="1.0.1" />
  <gap:plugin name="cordova-plugin-device" version="1.0.1" source="npm"/>
  <gap:plugin source="npm" name="cordova-plugin-dialogs" version="1.1.1" />
  <gap:plugin name="cordova-plugin-inappbrowser" version="1.0.1" source="npm"/>
  <gap:plugin source="npm" name="cordova-plugin-media" version="1.0.1" />
  <gap:plugin name="cordova-plugin-splashscreen" version="2.1.0" source="npm" />
  <gap:plugin source="npm" name="cordova-plugin-statusbar" version="1.0.1" />

  <gap:plugin name="com.ionic.keyboard" version="1.0.3"/>

  <gap:plugin name="com.adobe.plugins.gaplugin"/>
  <gap:plugin name="nl.x-services.plugins.socialsharing" version="4.3.8"/>
  <gap:plugin name="uk.co.whiteoctober.cordova.appversion" version="0.1.4"/>
  <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1">
    <param name="android-package" value="com.plugin.gcm.PushPlugin"/>
  </gap:plugin>


</widget>
